/* **** PRUEBA TÉCNICA  *****/
/*
* 1. TOP
* 2. SEGUROS
*/

/*****************************/
/* ******* 1. TOP *********/
.icono-tache {
	font-size: 1.75em;
}


/*****************************/
/* ******* 2. SEGUROS *********/
.card {
	border: 1px solid #999;
	max-width: 225px;
}

.card .row .titulo {
	color: #0fa5cb;
}

.card .row .desde {
	color: #898a8f;
}

.card .row .precio {
	color: #333333;
	font-weight: bold;
}